In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('players_fifa23.csv')

In [3]:
df.head()

,ID,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,L. Messi,Lionel Messi,35,169,67,https://cdn.sofifa.net/players/158/023/23_60.png,Argentina,91,91,...,91,88,91,67,66,67,62,53,62,22
1,165153,K. Benzema,Karim Benzema,34,185,81,https://cdn.sofifa.net/players/165/153/23_60.png,France,91,91,...,89,84,89,67,67,67,63,58,63,21
2,188545,R. Lewandowski,Robert Lewandowski,33,185,81,https://cdn.sofifa.net/players/188/545/23_60.png,Poland,91,91,...,86,83,86,67,69,67,64,63,64,22
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,91,91,...,91,91,91,82,82,82,78,72,78,24
4,231747,K. Mbappé,Kylian Mbappé,23,182,73,https://cdn.sofifa.net/players/231/747/23_60.png,France,91,95,...,92,84,92,70,66,70,66,57,66,21

In [4]:
df.keys()

Index(['ID', 'Name', 'FullName', 'Age', 'Height', 'Weight', 'PhotoUrl',
       'Nationality', 'Overall', 'Potential', 'Growth', 'TotalStats',
       'BaseStats', 'Positions', 'BestPosition', 'Club', 'ValueEUR', 'WageEUR',
       'ReleaseClause', 'ClubPosition', 'ContractUntil', 'ClubNumber',
       'ClubJoined', 'OnLoad', 'NationalTeam', 'NationalPosition',
       'NationalNumber', 'PreferredFoot', 'IntReputation', 'WeakFoot',
       'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'STRating', 'LWRating', 'LFRating', 'CFRating', 'RFRating', 'RWRating',
       'CAMRating', 'LMRating', 'CMRating', 'RMRating', 'LWBRating',
       'CDMRating', 'RWBRating', 'LBRating', 'CBRating', 'RBRating',
       'GKRating'],
      dtype='object')

In [5]:
df = df[df.BestPosition == 'GK'] # save goalkeepers

In [6]:
y = np.array(df['ValueEUR'])

In [7]:
to_be_dropped = ['Name', 'FullName', 'PhotoUrl', 'Growth', 'TotalStats', 'ValueEUR','ClubNumber', 
                 'NationalNumber', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',]

In [8]:
df = df.drop(to_be_dropped, axis=1)
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
6,192119,30,199,96,Belgium,90,91,473,GK,GK,...,34,35,34,32,34,32,32,32,32,90
7,167495,36,193,93,Germany,90,90,501,GK,GK,...,47,53,47,39,46,39,38,37,38,90
14,200389,29,188,87,Slovenia,89,91,479,GK,GK,...,37,41,37,35,40,35,35,36,35,90
16,210257,28,188,86,Brazil,89,91,502,GK,GK,...,47,52,47,40,47,40,39,38,39,90
18,212831,29,191,91,Brazil,89,90,489,GK,GK,...,45,49,45,36,42,36,35,35,35,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18508,259313,19,183,84,India,48,60,258,GK,GK,...,21,24,21,20,24,20,19,22,19,49
18515,261958,21,182,70,China PR,48,54,269,GK,GK,...,18,19,18,19,21,19,19,23,19,49
18520,261423,19,185,68,India,48,61,279,GK,GK,...,21,21,21,20,20,20,20,20,20,49
18521,259488,20,183,70,India,48,62,258,GK,GK,...,22,27,22,20,24,20,19,21,19,49
18524,271179,16,187,76,Romania,48,72,255,GK,GK,...,21,24,21,19,23,19,19,21,19,49

In [9]:
top_5_nats = ['Brazil','Belgium','Argentina','France','England']

nats_from_5_to_10 = ['Italy','Spain','Netherlands','Portugal','Denmark']

nats_from_10_to_20 = ['Germany','Croatia','Mexico','Uruguay','Switzerland',
                     'United States','Colombia','Senegal','Wales','Iran',]

In [10]:
df.loc[df['Nationality'].isin(top_5_nats), 'Nationality'] = 3
df.loc[df['Nationality'].isin(nats_from_5_to_10), 'Nationality'] = 2
df.loc[df['Nationality'].isin(nats_from_10_to_20), 'Nationality'] = 1
df.loc[df['Nationality'].isin([1,2,3]) == False, 'Nationality'] = 0

In [11]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
6,192119,30,199,96,3,90,91,473,GK,GK,...,34,35,34,32,34,32,32,32,32,90
7,167495,36,193,93,1,90,90,501,GK,GK,...,47,53,47,39,46,39,38,37,38,90
14,200389,29,188,87,0,89,91,479,GK,GK,...,37,41,37,35,40,35,35,36,35,90
16,210257,28,188,86,3,89,91,502,GK,GK,...,47,52,47,40,47,40,39,38,39,90
18,212831,29,191,91,3,89,90,489,GK,GK,...,45,49,45,36,42,36,35,35,35,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18508,259313,19,183,84,0,48,60,258,GK,GK,...,21,24,21,20,24,20,19,22,19,49
18515,261958,21,182,70,0,48,54,269,GK,GK,...,18,19,18,19,21,19,19,23,19,49
18520,261423,19,185,68,0,48,61,279,GK,GK,...,21,21,21,20,20,20,20,20,20,49
18521,259488,20,183,70,0,48,62,258,GK,GK,...,22,27,22,20,24,20,19,21,19,49
18524,271179,16,187,76,0,48,72,255,GK,GK,...,21,24,21,19,23,19,19,21,19,49

In [12]:
positions = ['GK','RB','CB','LB','RWB','CDM','LWB','RM','CM','LM','CAM','RW','RF','CF','LF','LW','ST']
df[positions] = 0

In [13]:
for pos in positions:
    df.loc[df['BestPosition'] == pos, pos] += 1
    df.loc[df['ClubPosition'] == pos, pos] += 1
    df.loc[df['NationalPosition'] == pos, pos] += 1

In [14]:
df.reset_index(inplace = True)

df = df.drop('index', axis=1)

In [15]:
for i in range(len(df)):
    df['Positions'][i] = df['Positions'][i].split(',')

<ipython-input-15-f2fd1884f736>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Positions'][i] = df['Positions'][i].split(',')

In [16]:
for i in range(len(df)):
    for pos in positions:
        if pos in df['Positions'][i]:
            df[pos][i] += 1

<ipython-input-16-4ea4a865103b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[pos][i] += 1

In [17]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,RM,CM,LM,CAM,RW,RF,CF,LF,LW,ST
0,192119,30,199,96,3,90,91,473,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
1,167495,36,193,93,1,90,90,501,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
2,200389,29,188,87,0,89,91,479,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
3,210257,28,188,86,3,89,91,502,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
4,212831,29,191,91,3,89,90,489,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,259313,19,183,84,0,48,60,258,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
2057,261958,21,182,70,0,48,54,269,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
2058,261423,19,185,68,0,48,61,279,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
2059,259488,20,183,70,0,48,62,258,[GK],GK,...,0,0,0,0,0,0,0,0,0,0
2060,271179,16,187,76,0,48,72,255,[GK],GK,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df = df.drop(['Positions','BestPosition','ClubPosition','NationalPosition'], axis=1)

In [19]:
df.loc[df['NationalTeam'].isin(top_5_nats), 'NationalTeam'] = 3
df.loc[df['NationalTeam'].isin(nats_from_5_to_10), 'NationalTeam'] = 2
df.loc[df['NationalTeam'].isin(nats_from_10_to_20), 'NationalTeam'] = 1

df.loc[df['NationalTeam'] == 'Not in team', 'NationalTeam'] = -1

df.loc[df['NationalTeam'].isin([1,2,3,-1]) == False, 'NationalTeam'] = 0

In [20]:
val = np.array([2023., 2025., 2024., 2026., 2027., 2022., 2028., 2031.,2032.]) #df['ContractUntil'].unique()

In [21]:
df.loc[df['ContractUntil'].isin(val) == False, 'ContractUntil'] = -1

In [22]:
df['ContractUntil'] = df['ContractUntil'] - 2022
df.loc[df['ContractUntil'] < 0, 'ContractUntil'] = -1

In [23]:
df['ContractUntil'].unique()

array([ 4.,  2.,  1.,  5.,  3., -1.,  0.,  6.])

In [24]:
df.loc[df['OnLoad'] == False, 'OnLoad'] = -1
df.loc[df['OnLoad'] == True, 'OnLoad'] = 1

In [25]:
df.loc[df['AttackingWorkRate'] == 'Low', 'AttackingWorkRate'] = 0
df.loc[df['AttackingWorkRate'] == 'Medium', 'AttackingWorkRate'] = 1
df.loc[df['AttackingWorkRate'] == 'High', 'AttackingWorkRate'] = 2

In [26]:
df.loc[df['DefensiveWorkRate'] == 'Low', 'DefensiveWorkRate'] = 0
df.loc[df['DefensiveWorkRate'] == 'Medium', 'DefensiveWorkRate'] = 1
df.loc[df['DefensiveWorkRate'] == 'High', 'DefensiveWorkRate'] = 2

In [27]:
df.loc[df['PreferredFoot'] == 'Left', 'PreferredFoot'] = 1
df.loc[df['PreferredFoot'] == 'Right', 'PreferredFoot'] = -1

In [28]:
df['Club'].unique()

array(['Real Madrid CF', 'FC Bayern München', 'Atlético de Madrid',
       'Manchester City', 'Liverpool', 'Paris Saint-Germain',
       'FC Barcelona', 'Tottenham Hotspur', 'Manchester United',
       'AC Milan', 'Juventus', 'Eintracht Frankfurt', 'Chelsea',
       'RB Leipzig', 'Borussia Mönchengladbach', 'Inter', 'Sevilla FC',
       'Aston Villa', 'VfL Wolfsburg', 'Athletic Club de Bilbao',
       'Borussia Dortmund', 'OGC Nice', 'Bayer 04 Leverkusen',
       'TSG Hoffenheim', 'Villarreal CF', 'Getafe CF', 'Real Sociedad',
       'Arsenal', 'Palmeiras', 'Everton', 'West Ham United', 'Roma',
       'Olympique Lyonnais', 'AFC Bournemouth', 'Newcastle United',
       'Sporting CP', 'Wolverhampton Wanderers', 'SL Benfica', 'Atalanta',
       'FC Nantes', 'Flamengo', 'Dinamo Zagreb', 'N.E.C. Nijmegen',
       'Free agent', 'Elche CF', 'Fulham', 'U.S. Sassuolo Calcio',
       'Club Brugge KV', 'Al Nassr', 'AC Monza', 'Cádiz CF',
       'Trabzonspor', 'PSV', 'Real Betis Balompié', 'Sport-Club Freiburg',
       'Lazio', 'Rayo Vallecano', 'Crystal Palace', 'Internacional',
       'RB Bragantino', 'Boca Juniors', 'Montpellier Hérault SC',
       'Feyenoord', 'Stade Rennais FC', 'Real Valladolid CF',
       'Galatasaray SK', 'Parma', 'FC Porto', 'Nottingham Forest',
       'Olympique de Marseille', 'RC Celta de Vigo',
       'RC Strasbourg Alsace', 'VfL Bochum 1848', 'Udinese Calcio',
       'River Plate', 'SC Braga', 'Fenerbahçe SK', 'Valencia CF',
       'SV Werder Bremen', 'Empoli', 'RCD Mallorca', 'FC Basel 1893',
       'Brentford', 'Fiorentina', 'Unión Deportiva Almería',
       'Racing Club', 'Club Nacional de Football', 'AS Monaco',
       'CA Osasuna', 'Napoli', 'F.C. København', 'FC Twente',
       'U.C. Sampdoria', 'Gil Vicente FC', 'RCD Espanyol de Barcelona',
       'Middlesbrough', 'FC Augsburg', 'Philadelphia Union', '1. FC Köln',
       'Brighton & Hove Albion', 'Royal Antwerp FC', 'Leeds United',
       'VfB Stuttgart', 'Hellas Verona', 'Stade Brestois 29',
       'RSC Anderlecht', 'FC Viktoria Plzeň', 'Angers SCO', 'Bologna',
       'Santos', 'Ceará Sporting Club', 'Club Athletico Paranaense',
       'AFC Richmond', '1. FSV Mainz 05', 'Celtic', 'Shakhtar Donetsk',
       'Norwich City', 'FC Sion', 'América de Cali', 'Spezia',
       'Dynamo Kyiv', 'Beşiktaş JK', 'FBC Melgar', 'Panathinaikos FC',
       'Racing Club de Lens', 'AJ Auxerre', 'FC Lorient', 'Fluminense',
       'Club Cerro Porteño', 'SK Slavia Praha',
       'Sport Club Corinthians Paulista', '1. FC Kaiserslautern',
       'Southampton', 'Vélez Sarsfield', 'Leicester City',
       'Club Libertad', 'US Cremonese', 'Atlanta United',
       'Royal Charleroi S.C.', 'Santa Clara', 'Orlando City Soccer Club',
       'Sheffield United', 'Orlando Pirates', 'ESTAC Troyes', 'Al Fateh',
       'Club Atlético Aldosivi', 'Levante Unión Deportiva',
       'Club Atlético Peñarol', 'Ettifaq FC', 'SD Eibar',
       'Club Atlético Talleres', 'Vitória de Guimarães', 'Rangers FC',
       'Royale Union Saint-Gilloise', 'Ajax', 'Girona FC', 'Junior FC',
       'AEK Athens', 'BSC Young Boys', 'SD Huesca', 'Heart of Midlothian',
       'Atlético Clube Goianiense', 'US Salernitana 1919',
       'Los Angeles FC', 'Preston North End', 'Rosario Central',
       'Toulouse Football Club', 'FC Zürich', 'CD Tenerife', 'LOSC Lille',
       'Hannover 96', 'Gimnasia y Esgrima La Plata',
       'Clube Atlético Mineiro', 'Ulsan Hyundai FC',
       'CD Everton de Viña del Mar', 'Valenciennes FC', 'FC Luzern',
       'Unión de Santa Fe', 'Shanghai Port FC', 'Al Wehda',
       'Bristol City', 'Stade de Reims', 'Blackburn Rovers',
       'Hamburger SV', 'Torino F.C.', 'AS Saint-Étienne',
       'SV Darmstadt 98', 'New York City FC', 'İttifak Holding Konyaspor',
       'Al Raed', 'Damac FC', '1. FC Nürnberg', 'Clube Sport Marítimo',
       'Unión Española', 'Seattle Sounders FC', 'Al Batin',
       'New York Red Bulls', 'Ferencvárosi TC', 'Columbus Crew',
       'AC Ajaccio', 'KAA Gent', 'Atlético Tucumán', 'SD Ponferradina',
       'Watford', 'Mamelodi Sundowns FC', 'Gazişehir Gaziantep F.K.',
       'KVC Westerlo', 'CS Emelec', 'Fatih Karagümrük S.K.',
       'MKE Ankaragücü', 'Real Zaragoza', 'Estoril Praia', 'São Paulo',
       'D.C. United', 'FK Bodø/Glimt', 'AIK', 'América Futebol Clube',
       'Club Nacional', 'Granada CF', 'Colo-Colo',
       'DSC Arminia Bielefeld', 'SpVgg Greuther Fürth', 'SV Sandhausen',
       'San Lorenzo de Almagro', 'Futebol Clube de Famalicão',
       'Real Sporting de Gijón', 'Club Atlético Banfield',
       'Queens Park Rangers', 'Rosenborg BK', 'Club Atlético Huracán',
       'Fortuna Sittard', 'AC Sparta Praha', 'Palermo', 'Hertha BSC',
       'Burnley', 'Benevento', 'Huddersfield Town', 'Venezia FC',
       'LASK Linz', 'Aarhus GF', 'Malmö FF', 'FC Metz',
       'Atlético Nacional', 'F.C. Hansa Rostock', 'Brøndby IF',
       'CFR Cluj', 'Boavista FC', 'Club Olimpia', 'Al Hilal',
       'FC Paços de Ferreira', 'Universidad Católica', 'Millwall',
       'Houston Dynamo', 'Standard de Liège', 'Shandong Taishan',
       'IFK Norrköping', 'Málaga CF', '1. FC Heidenheim 1846',
       'Deportivo Alavés', 'Minnesota United FC', "Newell's Old Boys",
       'Luton Town', 'Piast Gliwice', 'FC Cartagena', 'Al Ain FC',
       'Randers FC', 'FC Midtjylland', 'SC Paderborn 07',
       'Pogoń Szczecin', 'Karlsruher SC', 'Al Taawoun',
       'İstanbul Başakşehir FK', 'Antalyaspor', 'Independiente Medellín',
       'KSV Cercle Brugge', 'SK Sturm Graz', 'Godoy Cruz',
       'Kaizer Chiefs', 'Jeju United FC', 'Unión Deportiva Las Palmas',
       'Paris FC', 'Club Atlético Colón', 'Genoa', 'FC St. Pauli',
       'Raków Częstochowa', 'Argentinos Juniors', 'Club Deportes Tolima',
       'Górnik Zabrze', 'Ascoli', 'Holstein Kiel', 'KV Oostende',
       'Hull City', 'Birmingham City', 'Silkeborg IF', 'CD Lugo',
       'Fortaleza', 'Adana Demirspor', 'Burgos CF', 'Shanghai Shenhua FC',
       'Universitatea Craiova', 'Lechia Gdańsk', 'AZ Alkmaar',
       'FC St. Gallen 1879', 'Club Atlético Tigre', 'Cuiabá',
       'APOEL Nicosia FC', 'FC Schalke 04', 'FC Red Bull Salzburg',
       'Al Khaleej', 'FC Utrecht', 'Rapid București',
       'Arsenal de Sarandí', 'Coventry City', 'Aytemiz Alanyaspor',
       'SC Heerenveen', 'Club Atlético Independiente',
       'FC Erzgebirge Aue', 'Dijon FCO', 'Club Atlético Central Córdoba',
       'CD Antofagasta', 'LDU Quito', 'Nashville SC',
       'Jeonbuk Hyundai Motors', 'Central Coast Mariners',
       'FC Farul Constanța', 'Patronato', 'Stade Malherbe Caen',
       'FC Sochaux-Montbéliard', 'Independiente del Valle',
       'Pohang Steelers', 'Brescia', 'KRC Genk', 'Club Atlético Lanús',
       'Motherwell', 'Al Shabab', 'Dundee United', 'Colorado Rapids',
       'Austin FC', 'Demir Grup Sivasspor', 'Grenoble Foot 38',
       'Le Havre AC', 'Strømsgodset IF', 'KV Kortrijk',
       'Western Sydney Wanderers', 'Pisa', 'KV Mechelen',
       'Portimonense SC', 'SV Zulte Waregem', 'Fortuna Düsseldorf',
       'Clermont Foot 63', 'Seongnam FC', 'FC Andorra',
       'Eintracht Braunschweig', 'İstanbulspor', 'Rio Ave FC',
       'Servette FC', 'Ipswich Town', 'Wellington Phoenix', 'Barnsley',
       'Caracas Fútbol Club', 'Sint-Truidense VV',
       'Chamois Niortais Football Club', 'Barracas Central',
       'Club Alianza Lima', 'Lecce', 'Inter Miami CF', 'FC Seoul',
       'FC Dallas', 'PAOK', 'IF Elfsborg', 'Western United FC',
       'Ayacucho', 'Amiens SC', 'GD Chaves', 'Cardiff City',
       'VfL Osnabrück', '1. FC Union Berlin', 'FC Vizela', 'Platense',
       'Kasimpaşa SK', 'TSV 1860 München', '1. FC Magdeburg',
       'Sporting Kansas City', 'Sepsi OSK Sf. Gheorghe', 'Cagliari',
       'Club Sporting Cristal', 'Stoke City', 'FC Groningen',
       'Sparta Rotterdam', 'FSV Zwickau', 'Plymouth Argyle',
       'Club Atlético River Plate', 'Djurgårdens IF',
       'Oud-Heverlee Leuven', 'Modena', 'Lillestrøm SK', 'Aberdeen',
       'Suwon Samsung Bluewings', 'Cheltenham Town', 'Aalborg BK',
       '9 de Octubre', 'FC Botoşani', 'SPAL', 'Cerro Largo Fútbol Club',
       'LA Galaxy', 'CD Mirandés', 'Exeter City', 'Ümraniyespor',
       'BK Häcken', 'Daegu FC', 'FC Arouca', 'IFK Göteborg',
       'Aalesunds FK', 'Atakaş Hatayspor', 'Club Atlético Sarmiento',
       'Hibernian', 'Blackpool', 'Wigan Athletic',
       'Estudiantes de Mérida', 'Odds BK', 'SSV Jahn Regensburg',
       'Gangwon FC', 'La Equidad', 'Wuhan Three Towns', 'Real Oviedo',
       'Sheffield Wednesday', 'West Bromwich Albion', 'Al Tai',
       'FC Girondins de Bordeaux', 'SK Rapid Wien', 'Portland Timbers',
       'FC Emmen', 'AFC Chindia Târgoviște',
       'Club Deportivo Oriente Petrolero', 'SV Ried', 'Wycombe Wanderers',
       'FC Nordsjælland', 'Hajduk Split', 'Shrewsbury Town',
       'Deportivo Cali', 'Viking FK', 'SC Cambuur', 'Melbourne Victory',
       'Bari', 'Śląsk Wrocław', 'Petrolul Ploiești',
       'TSV Egger Glas Hartberg', 'Grasshopper Club Zürich',
       'Deportivo La Guaira FC', 'MSV Duisburg', 'Pau FC', 'Vitesse',
       'UD Ibiza', 'New England Revolution', 'Delfín Sporting Club',
       'C.D. Universidad Católica del Ecuador', 'Deportivo Ñublense',
       'Sport Boys', 'Seraing', 'SV Waldhof Mannheim 07',
       'Jagiellonia Białystok', 'Albacete BP', 'Bohemian FC',
       'CD Leganés', '1. FC Saarbrücken', 'Excelsior', 'Kristiansund BK',
       'Nîmes Olympique', 'Racing Santander', 'WSG Tirol',
       'En Avant de Guingamp', 'Reading', 'RKC Waalwijk', 'Mushuc Runa',
       'AFC UTA Arad', 'Cienciano', 'Odense Boldklub', 'Go Ahead Eagles',
       'Casa Pia', 'Urbs Reggina 1914', 'Milton Keynes Dons',
       'FCSB (Steaua)', 'Campionii FC Arges', 'Rotherham United',
       'Rodez Aveyron Football', 'Cosenza', 'Abha Club', 'Viborg FF',
       'Perugia', 'Club Deportivo Jorge Wilstermann',
       'San Jose Earthquakes', 'Deportivo Táchira FC',
       'Chicago Fire Football Club', 'Royal Pari',
       'Barcelona Sporting Club', 'Lech Poznań',
       'US Quevilly Rouen Métropole', 'Al Adalah', 'IK Sirius',
       'Montevideo Wanderers', 'FK Austria Wien',
       'Stade Lavallois Mayenne FC', 'Mjällby AIF', 'Cittadella',
       'Club The Strongest', 'Frosinone', 'SK Austria Klagenfurt',
       'Zhejiang Professional FC', 'Molde FK', 'Toronto FC',
       'Vålerenga Fotball', 'Real Salt Lake', 'FC Cincinnati',
       'FC Volendam', 'Club Sol de América', 'KAS Eupen',
       'SC Rheindorf Altach', 'Club Deportivo Guabirá',
       'Metropolitanos de Caracas FC', 'Liverpool Fútbol Club',
       'Club de Foot Montréal', 'Legia Warszawa', 'Unión La Calera',
       'Cambridge United', 'Shamrock Rovers', 'Changchun Yatai FC',
       'Estudiantes de La Plata', 'GZT Giresunspor', 'St. Johnstone FC',
       'SV Wehen Wiesbaden', 'SC Bastia', 'Cracovia', 'Adelaide United',
       'HJK Helsinki', 'Guaireña FC', 'Charlton Athletic', 'Kalmar FF',
       'Ternana', 'Universitatea Cluj', 'Charlotte FC', 'Bristol Rovers',
       'Port Vale', 'Sydney FC', 'Macarthur FC', 'Swansea City',
       'Defensa y Justicia', 'Portsmouth', 'VfB Oldenburg', 'Wisła Płock',
       'FC Voluntari', 'Kilmarnock', 'Stockport County',
       'Yukatel Kayserispor', 'St. Mirren', 'Perth Glory', 'SV Meppen',
       'SG Dynamo Dresden', 'Hermanos Colmenarez',
       'Villarreal Club de Fútbol B', 'FC Annecy', 'Shenzhen FC',
       'Sandefjord Fotball', 'Bolton Wanderers',
       'General Caballero (JLM)', 'Sportclub Verl', 'Como',
       'Vancouver Whitecaps FC', 'Forest Green Rovers', 'AFC Wimbledon',
       'FK Haugesund', 'Oxford United', 'RZ Pellets Wolfsberger AC',
       'Derby County', 'Livingston FC', 'Tromsø IL', 'FC Ingolstadt 04',
       'Salford City', 'Sunderland', 'FC U Craiova 1948', 'Südtirol',
       'Leyton Orient', 'Northampton Town', 'Accrington Stanley',
       'Austria Lustenau', 'FC Lugano', 'Suwon FC', 'Zagłębie Lubin',
       'Hammarby IF', 'Helsingborgs IF', 'Burton Albion', 'Bengaluru FC',
       'PGE FKS Stal Mielec', 'Viktoria Köln', 'Guangzhou City',
       'AC Horsens', 'FC Winterthur', 'Mansfield Town', 'Lyngby BK',
       'Widzew Łódź', 'Gillingham', 'SpVgg Bayreuth', 'IFK Värnamo',
       'Sarpsborg 08 FF', 'GIF Sundsvall', 'Incheon United FC',
       'Bradford City', 'Crewe Alexandra', 'Hallescher FC',
       'Hamarkameratene', 'Sangju Sangmu FC', 'Warta Poznań',
       'Lincoln City', 'Melbourne City FC', 'FK Jerv', 'Korona Kielce',
       'Degerfors IF', 'Rot-Weiß Essen', 'Wrexham AFC',
       'Varbergs BoIS FC', 'Al Fayha', 'Fleetwood Town',
       'Hartlepool United', 'Miedź Legnica', "St. Patrick's Athletic",
       'Independiente Petrolero', 'Stevenage', 'Ross County FC',
       'Beijing Guoan FC', 'Finn Harps', 'Walsall', 'CS Mioveni',
       'Barrow', 'Morecambe', 'Tranmere Rovers',
       'Henan Songshan Longmen FC', 'Newport County', 'Carlisle United',
       'Doncaster Rovers', 'Shijiazhuang Ever Bright F.C.', 'Al Ittihad',
       'Odisha FC', 'SC Freiburg II', 'Club Always Ready', 'Derry City',
       'Radomiak Radom', 'Dalian Professional Football Club',
       'Harrogate Town', 'Colchester United', 'NorthEast United FC',
       'Grimsby Town', 'Sutton United', 'Newcastle Jets', 'Meizhou Hakka',
       'AFC Hermannstadt', 'Crawley Town', 'SV Elversberg',
       'Jamshedpur FC', 'Shelbourne FC', 'Wuhan FC', 'Rochdale',
       'Borussia Dortmund II', 'Dundalk FC', 'Tianjin Jinmen Tiger FC',
       'Hyderabad FC', 'Brisbane Roar', 'Chengdu Rongcheng F.C.',
       'Drogheda United', 'ATK Mohun Bagan FC', 'Kerala Blasters FC',
       'FC Goa', 'Swindon Town', 'Peterborough United', 'Chennaiyin FC',
       'Hebei FC', 'Sligo Rovers', 'UCD AFC', 'Mumbai City FC',
       'SC East Bengal FC', 'Guangzhou FC'], dtype=object)

In [29]:
elit_clubs = ['Paris Saint-Germain', 'Real Madrid CF', 'FC Barcelona','Manchester City',
              'Liverpool', 'Manchester United','Tottenham Hotspur', 'FC Bayern München',
              'Chelsea','Borussia Dortmund', 'Juventus', 'Sevilla FC', 'Atlético de Madrid',
              'Inter', 'AC Milan', 'Arsenal']

In [30]:
sub_elit = ['Lazio','Roma', 'Villarreal CF', 'RB Leipzig','Leicester City',
            'Bayer 04 Leverkusen',  'Galatasaray SK','Ajax', 'AS Monaco','Napoli',
            'PSV', 'SL Benfica',  'Valencia CF','FC Porto', 'Olympique de Marseille',
            'Sporting CP','Fiorentina', 'Olympique Lyonnais']

In [31]:
average = ['Real Betis Balompié','Athletic Club de Bilbao','Newcastle United','Real Sociedad',
           'Aston Villa','Wolverhampton Wanderers', 'Palmeiras', 'Atalanta','Everton',
           'Crystal Palace','Eintracht Frankfurt', 'Trabzonspor','Flamengo',
           'Clube Atlético Mineiro','Sport Club Corinthians Paulista', 'Fulham',
           'RSC Anderlecht',  'Southampton', 'Montpellier Hérault SC', 'OGC Nice',
           'Borussia Mönchengladbach', 'SC Braga', 'Leeds United', 'VfL Wolfsburg',
           'West Ham United', 'Fluminense''Fenerbahçe SK','Beşiktaş JK']

In [32]:
df.loc[df['Club'].isin(elit_clubs), 'Club'] = 3

df.loc[df['Club'].isin(sub_elit), 'Club'] = 2
df.loc[df['Club'].isin(average), 'Club'] = 1

df.loc[df['Club'].isin([1,2,3]) == False, 'Club'] = 0

In [33]:
df['ClubJoined'] = df['ClubJoined'] - 2002

In [34]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Club,WageEUR,...,RM,CM,LM,CAM,RW,RF,CF,LF,LW,ST
0,192119,30,199,96,3,90,91,473,3,250000,...,0,0,0,0,0,0,0,0,0,0
1,167495,36,193,93,1,90,90,501,3,72000,...,0,0,0,0,0,0,0,0,0,0
2,200389,29,188,87,0,89,91,479,3,100000,...,0,0,0,0,0,0,0,0,0,0
3,210257,28,188,86,3,89,91,502,3,210000,...,0,0,0,0,0,0,0,0,0,0
4,212831,29,191,91,3,89,90,489,3,190000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,259313,19,183,84,0,48,60,258,0,500,...,0,0,0,0,0,0,0,0,0,0
2057,261958,21,182,70,0,48,54,269,0,800,...,0,0,0,0,0,0,0,0,0,0
2058,261423,19,185,68,0,48,61,279,0,500,...,0,0,0,0,0,0,0,0,0,0
2059,259488,20,183,70,0,48,62,258,0,500,...,0,0,0,0,0,0,0,0,0,0
2060,271179,16,187,76,0,48,72,255,0,500,...,0,0,0,0,0,0,0,0,0,0

# EVALUATION

In [35]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV

In [36]:
DF = df.copy()

In [37]:
df['ground_truth'] = y

In [38]:
df = df.sort_values('ground_truth')

In [39]:
X = df.values
X

array([[180548, 32, 185, ..., 0, 0, 0],
       [241777, 26, 192, ..., 0, 0, 0],
       [231056, 30, 191, ..., 0, 0, 0],
       ...,
       [210257, 28, 188, ..., 0, 0, 88000000],
       [192119, 30, 199, ..., 0, 0, 90000000],
       [230621, 23, 196, ..., 0, 0, 103500000]], dtype=object)

In [40]:
X = df.values
y_Normalized = (y-y.mean())/y.std()
X_Normalized = (X-X.mean())/X.std()

In [41]:
R = Ridge(alpha=1.0)
cross_val = RepeatedKFold(n_splits=10, n_repeats=5, random_state=1)

In [42]:
r2 = RidgeCV(alphas=[0.001, 0.01, 0.1, 1, 10]).fit(X_Normalized, y_Normalized)

In [43]:
mse = cross_val_score(R, X_Normalized, y_Normalized, cv=cross_val, scoring='neg_mean_squared_error')
print(f"MSE: {(np.mean(-mse)):.3f}")

mae = cross_val_score(R, X_Normalized, y_Normalized, cv=cross_val, scoring='neg_mean_absolute_error')
print(f"MAE: {(np.mean(-mae)):.3f}")

R2 = r2.score(X_Normalized, y_Normalized)
print(f"R^2: {(np.mean(R2)):.3f}")

MSE: 0.985
MAE: 0.355
R^2: 0.028